<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <!-- <h1>HEY</h1> -->
    <div class="w-full h-full bg-zinc-900 text-white p-10">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
        <form action="/update/<%= user._id %>" method="post">
            <input class="px-5 py-3 bg-transparent border-2 border-zinc-700 outline-none rounded-lg" type="text" name="username" id="" placeholder="Name" value="<%= user.name %>">
            <input class="px-5 py-3 bg-transparent border-2 border-zinc-700 outline-none rounded-lg" type="text" name="email" id="" placeholder="Email" value="<%= user.email %>">
            <input class="px-5 py-3 bg-transparent border-2 border-zinc-700 outline-none rounded-lg" type="text" name="img" id="" placeholder="Image URL" value="<%= user.image %>">
            <input class="px-5 py-2 bg-blue-500 rounded-lg ml-10 bg-yellow-500 text-black" type="submit" value="Update User">
        </form>
    </div>
    <!-- creating a practice app -->
</body>
</html>