<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> 

</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form action="">
                <input class="block w-full rounded-md outline-none px-5 py-2 bg-zinc-800" type="text" name="" id="" placeholder="Title goes here">
                <textarea class="block w-full rounded-md outline-none mt-2 px-5 py-2 resize-none bg-zinc-800" placeholder="Enter the description of tasks"></textarea>
                <input class="mt-2 bg-blue-600 px-5 py-2 rounded" type="submit" value="Create Task">
            </form>
        </div>
        <div class="tasks p-10 flex gap-5">
            <div class="task w-72 px-3 hidden py-4 bg-zinc-800 rounded-md">
                <h1 class="text-white text-2xl tracking-tighter">Some task goes here</h1>
                <a class="text-blue-500 inline-block mt-3" href="">Read More..</a>
            </div>
            <div class="task w-72 px-3 hidden py-4 bg-zinc-800 rounded-md">
                <h1 class="text-white text-2xl tracking-tighter">Some task goes here</h1>
                <a class="text-blue-500 inline-block mt-3" href="">Read More..</a>
            </div>
            <div class="task w-72 px-3 hidden py-4 bg-zinc-800 rounded-md">
                <h1 class="text-white text-2xl tracking-tighter">Some task goes here</h1>
                <a class="text-blue-500 inline-block mt-3" href="">Read More..</a>
            </div>
            <h3 class="text-zinc-600">no tasks yet.</h3>
        </div>
    </div>
    <!-- <h1>Heyy bro whats up</h1> -->
</body>
</html>